data/traff_111_A2.csv
data/traff_111_A1.csv
data/traff_110_A2_2.csv
data/traff_110_A2_1.csv
data/traff_110_A1.csv
data/traff_109_A2_2.csv
data/traff_109_A2_1.csv
data/traff_109_A1.csv
data/traff_108_A2_2.csv
data/traff_108_A2_1.csv
data/traff_108_A1.csv
cufile.log
wget-log
.ipynb_checkpoints/dashbord-checkpoint.ipynb
